html {
  background-color: #002039 ;
}
.PageNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;


}

#mainBackground {
  background-image: url(./components/images/LosAngeles.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: 100vh;
    width: 100vw;
  border-bottom: 2px solid #002039;
    
}
  


.navItems {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  color: white;
  list-style-type: none
}

.listItem {
  margin-left: 45px;
  border-bottom: 1px solid white;
}

#mountainLogo {
  border-radius: 50%;
  height: 45px;
  margin-top: 10px;
}